---
layout: home
title: TITLE
description: I have a passion for visualizing and coding meaningful website experiences that are beautifully and intuitively crafted&mdash;that make life a little easier and more enjoyable for the user.
exclude: true
---
<div class="row">
	<div class="col-lg-6">
		<div class="row">
			{% assign count = 0 %}
			{% for work in site.data.work limit:4 %}
				{% if count < 4 %}
				<div class="col-lg-6">
					<div class="work-thumbnail">
						<img class="img-fluid" src="{{ work.img }}" alt="">
						<div class="work-thumbnail-caption">
							<h2>{{ work.title }}</h2>
							<p>{{ work.text }}</p>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="col-lg-6">
		<h1>Hi, I'm Sabrina.</h1>

		<p>I'm a front-end web developer, currently at blank.<br/><br/>
		{{ page.description }}</p>
		<p></p>
	</div>
</div>
	


