<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {% if page.layout == 'home' %}
  <body class="body-home">
  {% endif %}
  {% if page.tag == 'project' %}
  <body class="body-project">
  {% endif %}
  {% if page.title == 'About' %}
  <body class="body-about">
  {% endif %}

  <body>

    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
