/*---------------
  BASE
---------------*/

body {
	background-color: $white;
	color: #333333;
	font-family: $secondary-font;
	font-size: $font-size-base;
	line-height: 1.8;
	overflow-x: hidden;

	&.fixed {
		position: fixed;
	}
}

p {
	font-size: 1.4em;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

li {
	font-size: 1em;
	font-weight: 400;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $red;
	text-decoration: none;

	&:hover {
		opacity: 0.8;
		transition: all 0.4s ease;
	}
}

h1 {
	font-family: $primary-font;
	font-weight: 800;
	margin: 0 0 0.5em;
	text-transform: uppercase;
	color: $red;

	&:after {
		@include shortUnderline($red);
	}

	@include media-breakpoint-down(xs) {
		font-size: 1.7em;
	}
}

h2{
	font-family: $primary-font;
}

h3 {
	font-size: 20px;
  font-weight: 600;
  text-transform: none;
}

.home-content {
	padding: 50px 0 0;

	@include media-breakpoint-down(xs) {
		padding: 20px 0 0;
	}
}

.page-content {
	padding: 50px 0;

	@include media-breakpoint-down(xs) {
		padding: 20px 0;
	}
}


/*---------------
  HOME
---------------*/

.home {

	.home-intro {
		background-color: transparent;
		padding: 0 0 50px;
		margin-bottom: -170px;
		min-height: 500px;

		@include media-breakpoint-down(sm) {
			margin-bottom: -100px;
		}
	}

	h1 {
		color: $white;
		margin-bottom: 1.5em;
		line-height: 1.7em;

		&:after {
			@include shortUnderline($shock);
		}
	}

	h1:first-child {
		margin: 0;

		&:after {
			display: none;
		}
	}

	p {
		color: $white;
	}

	.ledge {
		position: absolute;
		bottom: 30%;
		left: 50%;
		z-index: -2;

		&::before {
			content: '';
			position: absolute;
			bottom: -285px;
			left: 41px;
			background: linear-gradient(to right, #efb066, #f2b76e, #f5be76, #f8c57e, #fbcc86);
			transform: rotate(-6deg);
			transform-origin: 50% 0;
			width: 200vw;
			height: 300vw;
			margin-left: -150vw;
		}
	}
}

.intro {
	background-color: transparent;
	color: $white;
	padding: 0 0 20px;
	margin-bottom: -170px;
	min-height: 440px;

	h1 {
		color: $white;

		&:after {
			@include shortUnderline($shock);
		}
	}
}

.ledge {
	position: absolute;
	bottom: 100%;
	left: 50%;
	z-index: -1;

	&::before {
		content: '';
		position: absolute;
		bottom: -285px;
		left: 41px;
		background: linear-gradient(to right, #efb066, #f2b76e, #f5be76, #f8c57e, #fbcc86);
		transform: rotate(-6deg);
		transform-origin: 50% 0;
		width: 200vw;
		height: 300vw;
		margin-left: -150vw;
	}
}

.work-row {
	.col-md-6:nth-child(1n) {
		clear: left;
	}
	.col-md-6:nth-child(2n) {
		clear: right;
	}
}

.work-thumbnail {
	position: relative;
	margin-bottom: 40px;

	img {
		box-shadow: 2px 3px 10px rgba(0,0,0,.25);
		-moz-box-shadow: 2px 3px 10px rgba(0,0,0,.25);
		-webkit-box-shadow: 2px 3px 10px rgba(0,0,0,.25);
	}
}

.work-thumbnail-caption {
	background-color: rgba(225, 112, 83, 0.9);
	position:absolute;
	display: block;
	top:0;
	left: 0;
	bottom:0;
	width: 100%;
	height:100%;
	padding: 15%;
	opacity: 0;
	z-index: 0;

	@include media-breakpoint-down(xs) {
		padding: 14%;
	}

  &:hover {
  	opacity: 1;
  	cursor: pointer;
  	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

	h2 {
		color: #FFFFFF;
		font-size: 26px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 0;
  	margin-bottom: 10.5px;

		@include media-breakpoint-down(xs) {
			font-size: 16px;
		}

  	&:after {
  		@include shortUnderline(#FFFFFF);

			@include media-breakpoint-down(xs) {
				width: 30px;
		    margin-left: 3px;
		    margin-top: 14px;
		    border-width: 6px;
			}
  	}
	}

	p {
		color: #FFFFFF;
		font-size: 1.1em;
		margin: 15px 0 10.5px;

		@include media-breakpoint-down(xs) {
			font-size: 0.9em;
		}
	}
}

.btn {
	align-self: center;
	background: transparent;
	border-radius: 3px;
  display: block;
	font-family: $primary-font;
  margin: 1em 0;
  padding: 1em 2em;
  text-align: center;
  outline: none;

  &:hover {
  	transform: translate(-3px,-3px);
  	// box-shadow: 2px 2px 0px rgba(150, 150, 150, 0.8);
  	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.expand {
  padding: .75em;
  font-size: 3em;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1px;

	@include media-breakpoint-down(md) {
		font-size: 2em;
	}
}

.expand span {
  background: -webkit-linear-gradient(left,  #e17053, #efb066);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
}

.show {
	@include media-breakpoint-down(md) {
		display: flex;
	}
}

.work-row .col-lg-6:nth-child(2n+1) {
	clear: both;
}


/*---------------
  SKILLS
---------------*/

.home-resume {
	background-image: linear-gradient(to right, #efb066, #f2b76e, #f5be76, #f8c57e, #fbcc86);
	padding: 200px 0;
	color: $white;
	position: relative;
	overflow-x: hidden;

	@include media-breakpoint-down(sm) {
		padding: 120px 0 100px;
	}

	h2 {
		color: $white;
		text-align: center;
		text-transform: uppercase;

		&:after {
			@include shortUnderline($shock);
			margin: 15px auto 25px;
		}
	}
}

.skills-icon {
	float: right;

	@include media-breakpoint-down(md) {
		float: none;
		margin-right: 0;
		text-align: center;
	}

	@include media-breakpoint-down(xs) {
		margin-bottom: 30px;
	}

	svg {
		@include media-breakpoint-down(md) {
			width: 150px;
	    height: 150px;
		}
	}
}

.skills-list {
	li {
		list-style: none;
	}

	@include media-breakpoint-down(xs) {
		padding: 0;
	}
}

.home-svg {
  position: absolute;
  top: -1px;
  width: 100%;
  height: 10vw;
  transform: rotate(180deg);
}

.intro-svg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 10vw;
	transform: rotateX(180deg);
}

.contact-svg {
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 10vw;
	fill: #db8a61 !important;
}


/*---------------
  CONTACT
---------------*/

.home-contact {
	background: #db8a61;
	padding: 60px 0 80px;
	position: relative;
	margin-top: -1px;

	h2 {
		color: $white;
		text-align: center;
		text-transform: uppercase;

		&:after {
			@include shortUnderline($shock);
			margin: 15px auto 25px;
		}
	}

	a {
		color: $white;
		text-decoration: underline;
	}
}
