/*---------------
  MIXINS
---------------*/

@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";

@mixin shortUnderline($color) {
	content: '';
	display: block;
	width: 40px;
	margin-left: 3px;
	margin-top: 24px;
    border-bottom: 7px solid $color;
}

