/*---------------
  NAV
---------------*/

.body-project, .body-about {
	header {
		background: linear-gradient(to right, #efb066, #f2b76e, #f5be76, #f8c57e, #fbcc86);
	}
}

header {
	background: transparent;
	padding: 20px 0;

	@include media-breakpoint-up(md) {
		padding: 25px 0;
	}
}

nav {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	.site-title {
		color: $white;
		font-family: $primary-font;
		font-style: italic;
		font-size: 17px;
		font-weight: 800;
		line-height: 1.2;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}
	}

	.nav-trigger, .menu-icon {
		display: none;
	}

	.page-menu {
		.page-link {
			display: inline-block;
			color: $white;
			border: none;
			font-family: $primary-font;
			font-size: 17px;
			font-weight: 800;
			margin: 0 10px;
			text-transform: uppercase;
			text-decoration: none;

			@include media-breakpoint-down(md) {
				display: block;
				margin: 20px 0;
			}
		}
	}
}

nav {
	@include media-breakpoint-down(md) {
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}

.mobile-logo {
	font-weight: 800;
	font-size: 18px;
	padding: 10px;
	color: $white;
	padding: 5px 15px 10px;
	z-index: 1001;
	line-height: 1;
	text-transform: uppercase;

	a {
		color: $white;
		font-family: $primary-font;
	}

	&:after {
		// @include shortUnderline($navy);
		margin: 0;
		padding: 0;
		width: 23px;
		margin-left: -3px;
	}

	&:hover {
	}

	@include media-breakpoint-up(lg) {
		display: none;
	}
}

.page-menu {
	@include media-breakpoint-up(md) {
		display: block;
	}
	@include media-breakpoint-down(md) {
		display: none;
		align-self: center;
		padding: 5rem 1rem 1rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $red;
		text-align: center;
    flex-direction: row;
    z-index: 1000;
	}
}

.site-title {
	@include media-breakpoint-down(md) {
		display: none;
	}
}
